<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- Ротация каждый день -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- Удаление файлов старше 7 дней -->
                <Delete baseDir="logs" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Настройка логгера -->
        <Root level="debug">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
